:root {
    --colour-dark: #37406E;
    --colour-dark2: #704F38;
    --colour-medium: #707070;
    --colour-medium-cold:#DFE6EC;
    --colour-light: #F3EBDC;
    --colour-lightest: #F8F4ED;
    --colour-light-cold: #ECEFF1;
}

/* HOMEPAGE */
header{
    background-color: var(--colour-lightest);
}

nav > ul{
    color: var(--colour-dark);
}

.megaMenu{
    background-color: var(--colour-lightest); /*just to make it easier to see in live*/
}

.bannerOverlay{
    color: var(--colour-lightest);
}

.bannerOverlay > .btn{
    color: var(--colour-lightest);
}

.btn :visited{
    color: var(--colour-medium);
}

.values{
    background-color: var(--colour-lightest);
    color: var(--colour-dark2);
}

.spotlight {
    background-color: var(--colour-light);
}

.classicsText{
    color: var(--colour-dark2);
}

.classicsText > .btn{
    color: var(--colour-dark2);
}

footer{
    background-color: var(--colour-light-cold);
    color: var(--colour-dark);
}


.applyBtn{
    background-color: var(--colour-dark);
    color: var(--colour-lightest);
}

/* PRODUCT LIST */
body{
    background-color: var(--colour-light);
    color: var(--colour-medium);
}

.filterDiv{
    background-color:#37406E;
}

.blue-text{
    color: #37406E;
}

.myselect{
    color: #37406E;
    background-color: transparent;
}

.myselect2{
    color:#37406E;
    background-color: transparent;
}

/* checkout */
.checkout{
    background-color: var(--colour-lightest);
}

.formPart{
    background-color: var(--colour-medium-cold);
}

input[type=email], input[type=text], input[type=number], input[type=tel]{
    border: 1px solid var(--colour-medium);
    color: var(--colour-dark);
}


.cartPart{
    background-color: var(--colour-light-cold);
}

.radioBox1, .radioBox2{
    background-color: white;
    border: 1px solid var(--colour-medium);
    color: var(--colour-dark);
}

.crumbs a{
    color: var(--colour-dark);
}