@import "root_styles.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--colour-lightest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;

}

#logo{
    cursor: pointer;
}

nav > ul{
    list-style: none;
}

nav > ul > li{
    display: inline-block;
    padding: 0 20px;
}

nav > ul > li > a{
    transition: all 0.3s ease 0s;
}

nav > ul > li > a :hover{
    /* need to add the extension when hovering */
}

header > section{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#search > input{
    visibility: hidden;
    grid-area: searchInput;
}

#search > img{
    scale: 60%;
}
header > section > article > img {
    scale: 60%;
}


.bannerImage{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 0 40%;
    background-image: none;
}

.bannerOverlay{
    font-family: var(--fontheading);
    color: var(--colour-lightest);
    position: absolute;
    top: 60%;
    right: 7%;
    text-align: right;
    font-size: 30px;
}

.bannerOverlay > p{
    font-size: 0.8em;
    margin-top: 1%;
    font-weight: lighter;
}

.btn{
    font-size: 0.8em;
    margin-top: 1%;
    font-weight: normal;
    color: var(--colour-lightest);
}

.btn :visited{
    color: var(--colour-medium);
}