/* HOME PAGE ROOT */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 /* HOME PAGE HEADER SECTION */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
    padding: 1% 10%;
    position: fixed;
    top: 0;
}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    min-width: auto;
    flex-wrap: nowrap;
}


nav > ul > li:hover .megaMenu{
    visibility: visible;
    opacity: 100%;
}

.megaMenu{
    background-color: var(--colour-lightest);
    position: absolute;
    padding: 5% 0 2% 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.megaMenu ul{
    list-style-type: none;
}

.megaMenu > ul> li{
    padding-bottom: 1%;
}

/* search & side cart section */

header > section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.search > input{
    display: none;
}

.search > img{
    scale: 60%;
}

.search:active + #searchInput{
    display: block;
}
header > section > article > img {
    scale: 60%;
}

 /* HOME PAGE MAIN SECTION */

.bannerImage{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 0 40%;
    background-image: none;
    opacity: 100%;
}

.bannerOverlay{
    position: absolute;
    top: 60%;
    right: 7%;
    text-align: right;
}

.bannerOverlay > p{
    margin-top: 1%;
}

.bannerOverlay > .btn{
    margin-top: 1%;
}

.values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 7vw;
}

.valuesTextbox {
    display: flexbox;
    flex-direction: column;
    width: 30vw;
    min-width: 15vw;;
}

.values > img{
    width: 30vw;
    height: 40vh;
    object-fit: cover;
    object-position: 0 40%;
}

.spotlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7%;
}

.classicsText{
    display: flexbox;
    flex-direction: column;
    width: 20vw;
    margin: 50px 40px 0 31px;
}

.classicsText > .btn{
    margin-top: 1%;
}

.spotlight > img{
    width: 20vw;
    height: 28vw;
    object-fit: cover;
    margin: 10px;
}

 /* BLUE FOOTER SECTION */

 footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 7vh 25vw;
}

.newsLetter{
    justify-content: center;
    width: auto;
    margin: 1em 0 4em 0;
}

footer input[type=email]{
    width: 80%;
    height: 45px; 
    padding: 12px 20px; 
    margin: 3% 0 20% 0; 
    box-sizing: border-box;
    border: 1px solid var(--colour-medium);
    border-radius: 17px;
}

.applyBtn{
    width: 15%;
    height: 45px;
    box-sizing: border-box;
    border: none;
    border-radius: 17px;
}

.applyBtn:hover{
    opacity: 90%;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contactUs{
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 20%;
}
.address{
    margin-top: 7%;
    margin-left: 18%;
    width: 15vw;
    height: auto;
}

/* PRODUCT LIST */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* FLEX BOX FOR CONTENT */
.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;  
    margin-left: -3.5em;
    margin-right: -3.5em;
    align-items: center;
    justify-content: center;
    row-gap: 20%;
    object-fit: cover;
    gap: 4vw;
}

.item{
    width: 25vw;
    height: 70vh;
    object-fit: cover;
}


/* FILTER AND SORT BUTTONS */
.filterDiv{
    float: left;
    width: 10vw;
    line-height: 10vw;
    text-align: center;
    display: none;
}

.show {
    display: block;
}

.btn{
    cursor: pointer;
}

.myselect{
    top: 27%;
    left: 8%;
    position: absolute;
    background-color: transparent;
}

.myselect2{
    top: 27%;
    left: 16%;
    position: absolute;
    background-color: transparent;
}

/* Product page 1 */

.contentContainer{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 10%;
}

.prodPage1_images{
    display: flex;
    flex-direction: column;
    float: left; 
}

.smallerImages{
    display: flex;
    flex-direction: row;
    gap: 7%;
    margin-top: 5%;
}

.textbox{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
}

.description{
    margin-top: 20%;
}

.add-cart-btn{
    margin-left: -1%;
    text-decoration: none;
    padding: 10px 100px;
    border: none;
}

.sizeBtns{
    display: flex;
    gap: 10%;

}

.featured{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    gap: 15%;
}



select.stateSelect{
    width: 27%;
    height: 45px; 
    padding: 12px 20px; 
    margin:3% 1% 2% 0;
    border-radius: 17px;
}