/* HOME PAGE ROOT */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 /* HOME PAGE HEADER SECTION */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    width: 100%;
    padding: 1% 18%;
    position: fixed;
    top: 0;
}

nav > ul{
    list-style: none;
}

nav > ul > li{
    display: inline-block;
    margin: 0 30px;
}

nav > ul > li:hover .megaMenu{
    visibility: visible;
    opacity: 100%;
}

.megaMenu{
    background-color: var(--colour-lightest);
    position: absolute;
    padding: 5% 0 2% 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.megaMenu ul{
    list-style-type: none;
}

.megaMenu > ul> li{
    padding-bottom: 1%;
}

/* search & side cart section */

header > section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.search > input{
    display: none;
}

.search > img{
    scale: 60%;
}

.search:active + #searchInput{
    display: block;
}
header > section > article > img {
    scale: 60%;
}

 /* HOME PAGE MAIN SECTION */

.bannerImage{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: 0 40%;
    background-image: none;
    opacity: 100%;
}

.bannerOverlay{
    position: absolute;
    top: 60%;
    right: 7%;
    text-align: right;
}

.bannerOverlay > p{
    margin-top: 1%;
}

.bannerOverlay > .btn{
    margin-top: 1%;
}

.values{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 7vw;
}

.valuesTextbox {
    display: flexbox;
    flex-direction: column;
    width: 30vw;
    min-width: 15vw;;
}

.values > img{
    width: 30vw;
    height: 40vh;
    object-fit: cover;
    object-position: 0 40%;
}

.spotlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 7%;
}

.classicsText{
    display: flexbox;
    flex-direction: column;
    width: 20vw;
    margin: 50px 40px 0 31px;
}

.classicsText > .btn{
    margin-top: 1%;
}

.spotlight > img{
    width: 20vw;
    height: 28vw;
    object-fit: cover;
    margin: 10px;
}

 /* BLUE FOOTER SECTION */

 footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 7vh 25vw;
}

.newsLetter{
    justify-content: center;
    width: auto;
    margin: 1em 0 4em 0;
}

footer input[type=email]{
    width: 80%;
    height: 45px; 
    padding: 12px 20px; 
    margin: 3% 0 20% 0; 
    box-sizing: border-box;
    border: 1px solid var(--colour-medium);
    border-radius: 17px;
}

.applyBtn{
    width: 15%;
    height: 45px;
    box-sizing: border-box;
    border: none;
    border-radius: 17px;
}

.applyBtn:hover{
    opacity: 90%;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contactUs{
    display: flex;
    flex-direction: row;
    width: auto;
    padding-left: 20%;
}
.address{
    margin-top: 7%;
    margin-left: 18%;
    width: 15vw;
    height: auto;
}

/* PRODUCT LIST */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* FLEX BOX FOR CONTENT */
.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10em;  
    margin-left: -3.5em;
    margin-right: -3.5em;
    align-items: center;
    justify-content: center;
    row-gap: 20%;
    object-fit: cover;
    gap: 4vw;
}

.item{
    width: 25vw;
    height: 70vh;
    object-fit: cover;
}


/* FILTER AND SORT BUTTONS */
.filterDiv{
    float: left;
    width: 10vw;
    line-height: 10vw;
    text-align: center;
    display: none;
}

.show {
    display: block;
}

.btn{
    cursor: pointer;
}

.myselect{
    top: 27%;
    left: 8%;
    position: absolute;
    background-color: transparent;
}

.myselect2{
    top: 27%;
    left: 16%;
    position: absolute;
    background-color: transparent;
}

/* Product page 1 */

@media screen and (max-width: 400px){
    .itemstructure {
        display: none;
    }

    .mainphoto{
        display: flex;
        margin-left: -110%;
        margin-top: 60%;
        width: 40%;
    }

    .textbox{
        font-size: 1rem;
        align-items: center;
    }
}


.prodPage1_images{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: -60%;
}

.smallerImages{
    display: flex;
    flex-direction: row;
}


/* CHECKOUT */
.checkout{
    padding-top: 5%;
    width: 100%;
}

.divide{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.formPart{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 5% 0 10% 10%;
}

.crumbs{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-bottom: 5%;
}

input[type=email], input[type=text],input[type=number], input[type=tel]{
    width: 70%;
    height: 45px; 
    padding: 12px 20px; 
    margin:3% 1% 2% 0;
    border-radius: 17px;
}

.addressDetails input[type=text], input[type=number]{
    width: 30%;
}


.newFormType{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.cartPart{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 5%;
}

.cartOverview{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 0 50px;
}

.cartItems{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
}

.imageIcon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-image: none;
    opacity: 100%;
    margin-right: 5%;
    border-radius: 25%;
}

.subtotal, .shippingPrice, .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
}

.subtotal{
    padding-top: 50px;

}

.radioBox1, .radioBox2{
    width: 70%;
    height: 45px;
    padding: 1% 2%;
}

.radioBox1{
    border-radius: 17px 17px 0 0;
    margin-top: 3%;
}

.radioBox2{
    border-radius: 0 0 17px 17px;
}



input[type=radio] {
    padding-bottom: 500px;
}