body{
    background-color: #F3EBDC;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.itemstructure{
    display: flex;
    margin-top: -17em;
    margin-bottom: -5em;
    margin-left: 13em;
    gap: 25px;
    width: 100vw;
}

/* Product title */
.prod-name{
    margin-top: 10em;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.mainphoto > img{
    margin-left: 91px;
}

.textbox{
    flex-direction: column;
    width: 17vw;
    margin-top: -3vh;
    color: #37406E;
}


.textbox > h2{
    font-weight: 500;
    width: 17vw;
    color:#37406E;
    font-size: 40px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
    margin-left: 20px;
}
/* Price */
.textbox > h3{
    font-weight: 100;
    margin-left: -10vw;
    font-size: 30px;
    height: 5vh;
}

/* aliging text next to image */
.mainphoto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding: 8vw;
}

.textbox > p {
    font-weight: bold;
    text-align: left;
    justify-content: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 1vw;
    font-size: 25px;
}

/* description */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    margin-left: 17px;
    font-size: 25px;
    
}

/* sizes */
.sizes > p{
    text-align: left;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 70px;
    font-size: 25px;
}

.size-btns{
    margin-left: 0.5vw;
    padding: 10px;
    background-color: none;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    height: 7vh;
 }

.btn-6{
    margin-right: 50px;
    color: #37406E;
    font-size: 25px;
    text-decoration: none;
}

.btn-8{
    margin-right: 50px;
    color: #37406E;
    font-size: 25px;
    text-decoration: none;
}

.btn-10{
    margin-right: 50px;
    color: #37406E;
    font-size: 25px;
    text-decoration: none;
}

.btn-12{
    color: #37406E;
    font-size: 25px;
    text-decoration: none;
}

/* Add to cart btn */
.add-cart-btn{
    background-color: #37406E;
    color: #F3EBDC;
    text-decoration: none;
    padding: 10px 80px;
    font-size: 30px;
    border: none;
    margin-bottom: 100px;
}

.btn-container{
    width: 1800px;
    margin-left: 70px;
}