body{
    background-color: #F3EBDC;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    justify-content: center;
}

.itemstructure{
    display: flex;
    flex-wrap: wrap;
    margin-top: -6em;
    margin-bottom:5em;
    margin-left: 13em;
    gap: 25px;
    width: 100vw;
    height: 80vh;
}



.prod-name{
    margin-top: 10em;
}

.mainphoto > img{
    margin-left: 91px;
}

.textbox{
    display: flexbox;
    flex-direction: column;
    width: 17vw;
    margin-top: -3vh;
    color: #37406E;
}

.textbox > h2{
    font-weight: 500;
    width: 17vw;
    color:#37406E;
}

.textbox > h3{
    font-weight: 100;
    margin-left: -12vw;
}

.mainphoto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding: 8vw;
}

.textbox > p {
    font-weight: bold;
    text-align: left;
    justify-content: start;
    overflow: hidden;
    text-overflow: hidden;
    margin-left: 1vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    margin-left: 17px;
    
}

.sizes > p{
    text-align: left;
    margin-left: 1.2vw;
    font-weight: bold;
}

.size-btns{
    margin-left: 0.5vw;
    padding: 0;
    background-color: none;
    color: #37406E;
 }

.btn-6{
    margin-right: 50px;
    color: #37406E;
}

.btn-8{
    margin-right: 50px;
    color: #37406E;
}

.btn-10{
    margin-right: 50px;
    color: #37406E;
}

.btn-12{
    color: #37406E;
}
