:root {
    --fontheading: 'Didact Gothic', sans-serif;
    --font-body: 'Didact Gothic', sans-serif;
    --font-special: 'ivypresto-display', serif;
    --colour-dark: #37406E;
    --colour-dark2: #704F38;
    --colour-medium: #707070;
    --colour-light: #F3EBDC;
    --colour-lightest: #F8F4ED;
}
