body {
    background-color: #F3EBDC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
}

.grid-container{
    display: grid;
    height: 400px;
    align-content: space-evenly;
}

.adjust-line-height {
    line-height: 0.3em;
}

