body {
    background-color: #F3EBDC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    margin-top: 5em;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-left: -3.5em;
    margin-right: -3.5em;
    align-items: center;
    justify-content: center;
}