:root{ 
    --fontheading: 'Didact Gothic', sans-serif;
    --font-body: 'Didact Gothic', sans-serif;
    --font-family: "futura-pt", sans-serif;
    --font-special: 'ivypresto-display', serif;
    --font-size-body: 1.2em;
    --fontheading: 'futura-pt','Didact Gothic', sans-serif;

    /* for futura book style */
    --fontheading-weight: 500;
    --fontheading-style: normal;

    --font-body: 'futura-pt', 'Didact Gothic', sans-serif;
    --font-special: 'ivypresto-display', serif;
}
/* PRODUCT LIST*/
body {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* HOMEPAGE */
h1{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}
p {
    font-size: var(--font-size-body);
    line-height: 1.6em;
}

hr{
    margin-top: 41px;
    border-top: 1px solid var(--colour-dark2);
}

nav ul{
    font-family: var(--font-special);
}

nav ul li a {
    color: var(--colour-dark);
    text-decoration: none;
}

.bannerOverlay{
    font-family: var(--fontheading);
    font-size: 30px;
}

.bannerOverlay > p{
    font-size: var(--font-size-body);
    font-weight: lighter;
}

.bannerOverlay > .btn{
    font-size: var(--font-size-body);
    font-weight: normal;
}

.values{
    font-family: var(--font-body);
}

.valuesTextbox > h1{
    font-size: 1.4em;
    font-weight: 600;
}

.classicsText{
    font-family: var(--font-body);
}

.classicsText > .btn{
    font-size: var(--font-size-body);
    font-weight: normal;
}

footer{
    font-family: var(--font-body);
}

.applyBtn{
    font-family: var(--fontheading);
    font-weight: var(--fontheading-weight);
    font-style: var(--fontheading-style);
    text-transform: uppercase;
}

.address{
    word-wrap: none;
    line-height: 1.5em;
}

/* PRODUCT LIST */
.prodName{
    justify-content: center;
    text-align: center;
    
}

/* PRODUCT NAMES */
.bolded {
    font-weight: bold;
}

.blue-text{
    font-weight: 400;
}

.myselect{
    font-size: 19px;
}

.myselect2{
    font-size: 19px;
}

/* PRODUCT PAGE */

.prodID > h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--colour-dark);
}

.prodID > h3{
    font-size: 1.9rem;
    font-weight: 100;
    color: var(--colour-dark);
}

.description{
   font-size: 1.56rem; 
   color: var(--colour-dark);
}

.description > p{
    font-weight: bold;
    font-size: 1.56rem;
}

.lastBlock{
    color: var(--colour-dark);
}

.lastBlock > p{
    font-size: 1.56rem;
    font-weight: bold;

}

.sizeBtns{
    font-size: 1.4rem;
    color: var(--colour-dark);
    text-decoration: none;
}

.add-cart-btn{
    text-decoration: none;
    font-size: 30px;
}

.add-cart-btn{
    text-decoration: none;
    font-size: 20px;
}

.prodName{
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.price{
    text-align: center;
}

.featured_text{
    font-weight: bold;
}

/* SHOPPING CART */
.pageTitle > h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.pageTitle > p{
    text-align: center;
}

.linenTop > p{
    font-size: 20px;
}

.bolded {
    font-weight: 600;
    font-size: 20px;
}

.productTitle{
    font-size: 1.125rem;
}

.linenQuantity{
    font-size: 20px;
    font-weight: 500;
}

.hiloQuantity{
    font-size: 20px;
    font-weight: 500;
}

.linenPrice{
    font-size: 20px;
}

.hiloPrice{
    font-size: 20px;    
}

.prodTitle{
    font-weight: bold;
}

.payNow{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

/* SHOPPING CART */

.subTitle{
    font-size: 30px;
    font-weight: 500;
}

.cartPrice{
    font-size: 30px;
    font-weight: 500;
}

.newFormType > h1{
    font-size: 20px;
    color: var(--colour-dark);
}

/* CHECKOUT  */
.totalPrice{
    text-align: right;
}

.radioBox1, .radioBox2{
    font-size: var(--font-size-body);
}

input[type=text], input[type=email], input[type=number], input[type=tel]{
    font-size: var(--font-body);
}

.crumbs a{
    text-decoration: none;
    padding: 0 1%;
}

.currentCrumb{
    font-weight: 500;
}

a.disabled{
    pointer-events: none;
    cursor: default;
}

select.stateSelect{
    font-size: var(--font-size-body) -12;
}