:root {
    --colour-dark: #37406E;
    --colour-medium: #707070;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

/* PRODUCT NAMES */
.bolded {
    font-weight: bold;
}

/* FLEX BOX FOR CONTENT */
.layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;  
    margin-left: -3.5em;
    margin-right: -3.5em;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    object-fit: cover;
}

.container {
    overflow: hidden;
}
/* FILTER AND SORT BUTTONS */
.filterDiv{
    float: left;
    background-color:#37406E;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: block;
}

.btn{
    cursor: pointer;
}

.blue-text{
    color: #37406E;
    font-weight: 400;
}

.myselect{
    top: 27%;
    left: 9%;
    position: absolute;
    color: #37406E;
    background-color: transparent;
    font-size: 19px;
}

.myselect2{
    top: 27%;
    left: 17%;
    position: absolute;
    color:#37406E;
    background-color: transparent;
    font-size: 19px;
}

